.ramp_up{
    background-color: red;
}

.ramp_down{
    background-color: green;
}

.tech_min{
    background-color: blue;
    color: white;
}

.dc{
    background-color: yellow;
}

table, th, td {
    border: 1px solid black;
    font-size: small;
}

table {
    border-collapse: collapse;
}

html, body{
    height: 100%;margin: 0;
}

.wrapper{
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    padding: 0.1em;
    margin-bottom: -2.8em;
}

.footer,
.push {
    font-family: Arial;
    font-size: 0.75em;
    padding-left: 1em;
    padding-top: 1em;
    height: 3em;
}